@mixin navnsocials($size: 0.8rem) {
  font-style: normal;
  font-weight: 500;
  font-size: $size;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

@mixin headings($size: 8.35rem, $weight: 500, $spacing: -0.06em) {
  font-family: "Playfair Display", "Franklin Gothic Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  // line-height: 90%;  /* or 126px */
  letter-spacing: $spacing;
}

@mixin paragraph($size: 0.95rem, $weight: 400, $spacing: -0.02em) {
  font-family: "Lora", "Franklin Gothic Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  // line-height: 90%;  /* or 126px */
  letter-spacing: $spacing;
}

@mixin container($width) {
  width: $width;
  margin: 0 auto;
}

@mixin flexbin($row-height, $space) {
  position: relative;
  display: flex;
  flex-direction: column;
  &:after {
    content: "";
    flex-grow: 999999999;
    min-width: $row-height;
    height: 0;
  }
  img {
    position: relative;
    display: block;
    min-width: 100%;
    flex-grow: 1;
    margin-bottom: 1.5rem;
    max-width: 100%;
  }
}

@mixin shadows-sm() {
  box-shadow: 2px 2px 15px #00000030
}