@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");
@import "/variables.scss";
@import "/mixins.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Muli", Helvetica, sans-serif;
  background-color: $bgwhite;
}

// Transition Cover ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
.transition--cover {
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: 0;
  left: 0;
  transform: translateY(100vh);
  background-color: #fafafa;
  display: block;
  z-index: 49;
}

// Common containers styles //////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
.container {
  @include container(1100px);
  &--main {
    @include container(1100px);
    margin-top: $borderSize;
    min-height: 100vh;
  }
  &--footer {
    position: fixed;
    z-index: 55;
    bottom: 0.45rem;
    right: 2rem;
    color: gray;
    font-size: 0.75rem;
  }
  &--footer a {
    color: $paragraph;
    text-decoration: none;
    font-weight: 700;
  }
  &--footer a:hover {
    color: $primLight;
  }
  &--loader {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  &--error-message {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0 1rem;
  }
  &--errr-message p {
    text-align: center;
    color: $paragraph;
  }
}

// Common shadows styles ////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.shadows-md {
  box-shadow: 5px 5px 20px #00000042 !important;
}

// Mobile nav styles ////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.mobile-nav {
  display: none;
  position: relative;
  .mobile-nav-btn {
    height: 30px;
    width: 30px;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.35s;
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 150%;
      width: 150%;
      top: -25%;
      left: -25%;
    }
    .mobile-nav-btn-lines {
      transition: all 0.35s;
      pointer-events: none;
      display: block;
      content: "";
      width: 100%;
      border-radius: 0.25em;
      background-color: $redish;
      height: 2px;
      position: absolute;
      transform: rotate(0);
      top: 50%;
      margin-top: -0.125em;
    }
    .mobile-nav-btn-lines::before,
    .mobile-nav-btn-lines::after {
      pointer-events: none;
      display: block;
      content: "";
      width: 100%;
      border-radius: 2em;
      background-color: $redish;
      height: 2px;
      position: absolute;
      transform: rotate(0);
    }
    .mobile-nav-btn-lines::before,
    .mobile-nav-btn-lines::after {
      transition: all 0.35s;
    }
    .mobile-nav-btn-lines::before {
      width: 17px;
      left: 13px;
      top: 0.6em;
    }
    .mobile-nav-btn-lines::after {
      width: 17px;
      left: 0;
      top: -0.6em;
    }
  }
  .--open .mobile-nav-btn-lines {
    transform: translateX(-2em);
    background-color: initial;
  }
  .--open .mobile-nav-btn-lines::before {
    transform: translateX(2em) rotate(135deg);
    width: 20px;
    left: 0.5em;
    top: 0;
  }
  .--open .mobile-nav-btn-lines::after {
    transform: translateX(2em) rotate(-135deg);
    width: 20px;
    left: 0.5em;
    top: 0;
  }
  &-wrapper {
    transform: translateX(100vw);
    background-color: #fafafa;
    z-index: 50;
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
  }
  &-items {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 3rem;
  }
  &-items li {
    overflow: hidden;
  }
  &-items li a {
    transform: translateY(20px);
    opacity: 0;
    text-decoration: none;
    font-weight: 500;
    color: $primDark;
    opacity: 0;
    font-size: 1rem;
    display: block;
    &:hover,
    &:focus {
      color: $redish;
    }
  }
}

// Navbar styles ///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
.app {
  &--wrapper {
    min-height: 100vh;
    width: 100%;
    position: relative;
  }
  &--nav {
    justify-content: space-between;
    align-items: center;
    color: #d84617;
    height: $borderSize;
    position: fixed;
    display: flex;
    z-index: 55;
    top: 0;
    right: 0;
    left: 0;
    @include navnsocials;
    .navlogo a {
      text-decoration: none;
      color: inherit;
    }
    .navitems {
      display: inherit;
    }
    .navitems li:first-child {
      transition: color 0.2s ease-out;
      margin-right: 4rem;
    }
    .navitems li:hover a {
      color: $primDark;
      &:after {
        width: 100%;
      }
    }
    .navitems li:hover {
      cursor: pointer;
      color: $primDark;
    }
    .navitems .active-link {
      pointer-events: none;
    }
    .navitems a {
      transition: color 0.2s ease-out;
      text-decoration: none;
      color: #d84617;
      &:after {
        content: "";
        display: block;
        width: 0%;
        background-color: #d84617;
        height: 1.0083px;
        transition: width 0.2s ease-out;
      }
    }
  }
}

// Pages layout borders ////////////////////////////////////////
///////////////////////////////////////////////////////////////
.borders {
  position: absolute;
  top: 0;
  z-index: 50;
  .top,
  .bottom,
  .left,
  .right {
    background-color: #fafafa;
    position: fixed;
  }
  .top,
  .bottom {
    width: 100vw;
  }
  .left,
  .right {
    height: 100vh;
  }
  .thickness-width {
    width: $borderSize;
  }
  .thickness-hight {
    height: $borderSize;
  }
  .top {
    top: 0;
    left: 0;
  }
  .bottom {
    bottom: 0;
    left: 0;
  }
  .left {
    left: 0;
    top: 0;
  }
  .right {
    right: 0;
    top: 0;
  }
}

// Home page styels ////////////////////////////////////////////
///////////////////////////////////////////////////////////////
.section {
  &-hero {
    margin-top: 6.5rem;
    height: 100%;
    padding-bottom: 1rem;
    &--grid {
      opacity: 0;
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      padding: 0 4.5rem;
    }
  }
  .hero-grid {
    &-one {
      .hero-title {
        position: absolute;
        z-index: 20;
        &-container {
          position: relative;
          height: 300px;
          width: 100%;
          display: block;
          h1 {
            width: 100%;
            @include headings(8.45rem, 400);
            overflow: hidden;
            height: 100%;
            color: $primLight;
            padding: 0 0.3rem;
            display: inline-block;
            &:last-of-type {
              margin-top: -4rem;
            }
          }
          span {
            display: block;
            height: 100%;
            width: 100%;
          }
        }
      }
      .intro-text {
        width: 300px;
        color: $paragraph;
        @include paragraph;
        line-height: 1.7;
        margin-left: 1rem;
        margin-top: 1.5rem;
      }
      .hero-lastbp {
        &--container {
          margin-top: 2.5rem;
          font-size: 0.85rem;
          margin-left: 1rem;
          h1 {
            font-size: 0.95rem;
            text-transform: uppercase;
            color: $redish;
            img {
              margin-left: 1rem;
              margin-bottom: -0.15rem;
              display: inline-block;
            }
          }
        }
        &--card {
          width: 370px;
          height: 200px;
          background-position: center;
          background-size: cover;
          margin-top: 3.15rem;
          position: relative;
          .card-overlay-dark {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            z-index: 2;
            left: 0;
            background-color: #8e8e8e3b;
            transition: all 0.4s ease-out;
            &:hover {
              background-color: #b1b1b187;
            }
          }
          .card-overlay {
            height: 100%;
            width: 50%;
            opacity: 0.8;
            position: absolute;
            top: 0;
            left: 0;
            &-content {
              width: 50%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-content: baseline;
              justify-content: space-between;
              position: absolute;
              padding: 1rem 0.85rem 1rem 1.5rem;
              h3:first-child {
                display: none;
              }
              h3 {
                @include headings(1.3rem, 800, 0);
                margin-bottom: 1rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                width: 97%;
              }
              p {
                font-size: 0.75rem;
                line-height: 1.75;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
              }
            }
          }
        }
      }
    }
    &-two {
      transition: all 0.4s ease-out;
      box-shadow: 0 0 0 transparent;
      height: 720px;
      width: 100%;
      .hero-image {
        &-container {
          width: 100%;
          height: 100%;
          position: relative;
        }
        &-mask {
          position: absolute;
          height: 100%;
          width: 100%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
          }
          .mask {
            height: 100%;
            width: 100%;
            background-color: $bgwhite;
            z-index: 15;
            border: 0.5rem solid $bgwhite;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
          }
        }
        &-socials {
          transition: color 0.4s ease-out;
          position: absolute;
          display: block;
          bottom: 0.85rem;
          right: 1rem;
          font-size: 1.025rem;
          a {
            text-decoration: none;
            color: #e0e0e0;
            &:first-child {
              margin-right: 1rem;
            }
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
  &-albums {
    display: block;
    padding: 0 2rem 3rem;
    min-height: 500px;
    &--info {
      display: none;
    }
    &--catcontainer {
      display: inline-block;
      width: 100%;
      padding-bottom: 1.5rem;
      overflow: hidden;
      margin-top: 3rem;
    }
    &--catcontainer-items {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      ul {
        display: grid;
        align-items: center;
        justify-content: end;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1.5rem;
        li {
          @include headings(4.5rem, 400, 0);
          color: $primDark;
          cursor: pointer;
          width: 100%;
          align-self: center;
          justify-self: center;
          text-align: center;
          padding: 0 0.75rem;
          &:after {
            content: "";
            display: block;
            width: 0%;
            background-color: $primDark;
            height: 1.45px;
            transition: width 0.2s ease-out;
            margin: 0 auto 0 1rem;
          }
          &:hover {
            &:after {
              width: 90%;
            }
          }
          &:nth-child(2) {
            &:after {
              margin: 0 auto 0 3rem;
            }
            &:hover {
              &:after {
                width: 70%;
              }
            }
          }
        }
        .--active {
          color: $primLight;
          &:hover {
            &:after {
              width: 0%;
            }
          }
          &:nth-child(2) {
            &:hover {
              &:after {
                width: 0%;
              }
            }
          }
        }
      }
    }
    &--masonry-wrapper {
      min-height: 500px;
      img {
        cursor: pointer;
        width: calc(70.3333% / 3);
        margin: 0.5rem;
        transition: 0.2s all ease-out;
      }
    }
    &--masonry-image:hover {
      opacity: 0.7;
    }
    &--carousel-wrapper {
      position: fixed;
      width: 100vw;
      height: 100vh;
      opacity: 0;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
    }
    &--carousel-bg {
      position: absolute;
      width: inherit;
      height: inherit;
      background: #000000ad;
      z-index: 10;
      top: 0;
      right: 0;
      left: 0;
    }
    &--carousel-image {
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      display: flex;
      box-sizing: border-box;
      padding: 0 2rem;
      z-index: 20;
      img {
        transform: scale(0);
        opacity: 0;
        margin-left: -3.39333%;
        border: 1rem solid white;
      }
      button {
        position: fixed;
        height: 70px;
        width: 70px;
        background-color: transparent;
        transition: all 0.2s ease-out;
        outline: none;
        cursor: pointer;
        border: 0;
        &:first-child {
          left: 10rem;
        }
        &:last-of-type {
          right: 10rem;
        }
        &:hover {
          svg {
            color: $bgwhite;
          }
        }
        &:active {
          transform: scale(0.8);
        }
        svg {
          transition: all 0.2s ease-out;
          fill: $primLight;
          width: 100%;
          height: 100%;
        }
      }
    }
    .btn--gray {
      transition: 0.2s all ease-out;
      background-color: transparent;
      outline: none;
      display: block;
      font-size: 1rem;
      color: #afafaf;
      font-weight: 700;
      margin: 2rem auto 1rem;
      border: 0;
      cursor: pointer;
      &:hover {
        opacity: 0.75;
      }
      img {
        display: inline-block;
        margin-left: 0.5rem;
        margin-bottom: -0.25rem;
        width: 20px;
      }
    }
  }
  &-about {
    display: none;
    margin-bottom: 2rem !important;
    h3 {
      @include headings(2.25rem, 600) margin-bottom: 1.5rem;
      color: $primDark;
    }
    p {
      line-height: 1.5;
      color: $paragraph;
      font-size: 1rem;
      width: 75%;
    }
    &-socials {
      margin-top: 3rem;
      display: flex;
      align-items: center;
      justify-content: stretch;
    }
    &-socials .--line {
      width: 60%;
      display: inline-block;
      margin-right: auto;
      height: 2px;
      background-color: black;
      transform: translateY(2px);
    }
    &-socials a {
      text-decoration: none;
      color: black;
      font-size: 1.45rem;
      font-weight: 800;
      margin: 0 1rem;
      &:hover,
      &:focus {
        color: $paragraph;
      }
    }
  }
}

// Blog Page styles ////////////////////////////////////////////
///////////////////////////////////////////////////////////////
.section {
  &-blog {
    margin: 3rem 0;
    &--title h1 {
      @include headings(8.45rem, 400);
      margin: 3rem 0 4rem;
      display: inline-block;
      color: $primLight;
    }
    &--main {
      margin-bottom: 4rem;
      .article-card {
        &--link {
          text-decoration: none;
          width: $itemsWidth;
          &:hover {
            button span {
              transform: translateY(0%);
              opacity: 1;
            }
          }
        }
        &--wrapper {
          @include shadows-sm;
          background-color: white;
          margin: 1rem;
        }
        &--info {
          padding: 1.5rem;
          display: block;
          h1 {
            font-size: 1.5rem;
            font-weight: 900;
            margin-bottom: 3rem;
            color: $primDark;
          }
          p {
            margin-bottom: 1.5rem;
            font-size: 0.85rem;
            font-weight: 400;
            color: $paragraph;
            line-height: 1.5;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
          }
        }
        &--tags {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          line-height: 1.75;
          margin-bottom: 0.5rem;
          span {
            margin-right: 0.5rem;
            font-size: 0.85rem;
            font-weight: 600;
            color: $redish;
          }
        }
        &--footer {
          padding: 0 1.5rem 1.5rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            color: $paragraph;
            font-size: 0.75rem;
          }
          button {
            background-color: transparent;
            overflow: hidden;
            border: 0;
            span {
              text-decoration: none;
              display: block;
              transform: translateY(50%);
              transition: all 0.2s ease-in;
              opacity: 0;
              font-size: 0.75rem;
              letter-spacing: 0.1rem;
            }
          }
        }
      }
      .aside {
        &--container {
          width: $itemsWidth;
          h1 {
            margin-bottom: 1rem;
            color: $primLight;
            font-weight: 900;
          }
          a {
            text-decoration: none;
            &:last-of-type {
              .aside--post-box {
                .aside--inside-box {
                  border: 0;
                }
              }
            }
          }
        }
        &--card-wrapper {
          @include shadows-sm;
          background-color: white;
          padding: 1rem;
          margin: 1rem;
        }
        &--post-box {
          transition: 0.2s all ease-out;
          align-items: normal;
          display: flex;
          height: 100%;
          width: 100%;
          &:hover {
            background-color: #efefef;
          }
        }
        &--inside-box {
          padding: 0.2rem 0.5rem 0.5rem;
          color: $paragraph;
          font-size: 0.85rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: stretch;
          width: 75%;
          border-bottom: 1px solid #e8e8e8;
          span {
            display: block;
            text-transform: lowercase;
            &:last-of-type {
              font-size: 0.7rem;
            }
          }
        }
        &--search-box {
          @include shadows-sm;
          padding: 1rem;
          margin: 1rem;
          position: relative;
          background-color: white;
          h1 {
            margin-bottom: 1rem;
            color: $primLight;
            font-weight: 900;
          }
        }
      }
    }
    .aside--search-input {
      @include autosuggest();
    }
    .pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #7a7a7a;
      margin-top: 1rem;
      a {
        font-weight: 500;
        text-decoration: none;
        &:hover {
          text-decoration: none !important;
        }
      }
      .pagination_number {
        margin: 0 0.5rem;
        ul {
          list-style: none;
          display: inline-flex;
        }
        li {
          margin: 0.2rem;
        }
        .link {
          .pagination_number--box {
            background: #858585;
            color: white;
            border-color: #757575;
          }
        }
        .--disabled {
          pointer-events: none;
        }
        &--box {
          border: 1px solid #cacaca;
          width: 2rem;
          height: 2rem;
          border-radius: 0.2rem;
          display: flex;
          align-items: center;
          color: $primDark;
          background: #e4e4e4;
          justify-content: center;
          &:hover {
            background: #cacaca;
            color: #4e4e4e;
          }
        }
      }
      .arrow {
        font-size: 2.5rem;
        font-weight: 400;
        margin: -2.2rem auto 0;
        height: 20px;
        width: 12px;
        text-decoration: none;
      }
    }
  }
}

// Article Page Styles /////////////////////////////////////////
///////////////////////////////////////////////////////////////
.section {
  .article_wrapper {
    .article_head {
      position: relative;
      margin: 4rem 2rem;
      &--over {
        position: absolute;
        z-index: 5;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin: 0 auto;
        width: 100%;
        flex-direction: column;
        h3 {
          margin-bottom: 1rem;
          color: white;
          font-size: 2.5rem;
          text-transform: capitalize;
          font-size: 1.5rem;
          padding: 0 0.5rem;
          text-align: center;  
        }
        &-tags {
          width: inherit;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          span {
            margin: 0 .3rem;
            color: #cdcdcd;
          }
        }
        &-dates {
          position: absolute;
          bottom: 0.5rem;
          font-size: 0.75rem;
          text-transform: lowercase;
          color: #afafaf;
        }
      }

      &--bg {
        height: 450px;
        width: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
      }

      &--bg::after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: #0000009e;
      }
    }

    .resp-sharing-button__link,
    .resp-sharing-button__icon {
      display: inline-block;
    }

    .resp-sharing-button__link {
      text-decoration: none;
      color: #fff;
      margin: 0.5em;
    }

    .resp-sharing-button {
      border-radius: 5px;
      transition: 25ms ease-out;
      padding: 0.5em 0.75em;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    .resp-sharing-button__icon svg {
      width: 1em;
      height: 1em;
      margin-right: 0.4em;
      vertical-align: top;
    }

    .resp-sharing-button--small svg {
      margin: 0;
      vertical-align: middle;
    }
    .resp-sharing-button__icon {
      stroke: #fff;
      fill: none;
    }
    .resp-sharing-button__icon--solid,
    .resp-sharing-button__icon--solidcircle {
      fill: #fff;
      stroke: none;
    }

    .resp-sharing-button {
      font-size: 0.85rem;
      &--twitter {
        background-color: #55acee;
        border-color: #55acee;
      }
      &--twitter:hover,
      &--twitter:active {
        background-color: #2795e9;
        border-color: #2795e9;
      }
      &--facebook {
        background-color: #3b5998;
        border-color: #3b5998;
      }
      &--facebook:active,
      &--facebook:hover {
        background-color: #2d4373;
        border-color: #2d4373;
      }
      &--linkedin {
        background-color: #0077b5;
        border-color: #0077b5;
      }
      &--linkedin:hover,
      &--linkedin:active {
        background-color: #046293;
        border-color: #046293;
      }
    }

    .article_body {
      margin: 0 5rem 1rem;
      padding-bottom: 1.5rem;
      line-height: 1.6;
      pre {
        margin-bottom: 1rem;
      }

      h1 {
        margin: 0 0 1rem;
        font-size: 2rem;
        font-weight: 800;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $primDark;
        font-family: "Muli", sans-serif;
        margin: 0 0 1rem;
      }

      p {
        color: $paragraph;
        margin-bottom: 1rem;
        font-size: 0.95rem;
        font-weight: 400;
      }
      img {
        object-fit: cover;
        object-position: 50% 50%;
        padding: 1rem;
        margin: 0 auto 1rem;        
        max-width: 100%;
        display: block;
        border-radius: 1.3rem;
      }
      blockquote {
        display: block;
        border-width: 2px 0;
        border-style: solid;
        border-color: #eee;
        padding: 1.5em 0 0.5em;
        margin: 1.5em 0;
        text-align: center;
        position: relative;
        p,
        p:only-of-type,
        p:first-of-type {
          color: $paragraph;
          margin: 1rem;
          font-weight: 600;
          font-family: "Muli", sans-serif;
          font-size: 0.95em;
          &:last-of-type {
            content: "\2013 \2003"attr(cite);
            display: block;
            font-style: italic;
            font-weight: 500;
            text-align: right;
            text-transform: capitalize;
            font-size: 0.875em;
            margin: 0 2rem;
            color: #e74c3c;
            &::before {
              content: "-";
              margin: 0.3rem;
            }
          }
        }
      }
      blockquote:before {
        content: "\201C";
        position: absolute;
        top: 0em;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        width: 3rem;
        height: 2rem;
        font: 6em/1.08em "PT Sans", sans-serif;
        color: #666;
        text-align: center;
      }
      ul,
      ol {
        margin: 0 1rem 1rem;
        color: $paragraph;
        font-weight: 500;
      }
      code {
        background: #2d3b41;
        color: #f2f3f3;
        padding: 0.5rem;
        border-radius: 0.3rem;
      }
      a {
        color: #2d7ee2;
        font-weight: 400;
      }
    }
    .article_share {
      margin: 0 6rem 2rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-bottom: 1.5rem;
      font-size: 0.9rem;
      border-bottom: 2px solid lightgray;
      span {
        color: $primDark;
        font-size: 0.85rem;
        font-weight: 600;
        margin-right: 0.5rem;
      }
    }
    .article_relative {
      margin: 0 1rem;
      .featured-posts {
        margin: 1.5rem 0 !important;
      }
    }
    @media (max-width: 1024px) {
      padding: 0 3rem;
    }
  }
}

/////////////////////////////////////////////////////////////////////
///////////////////////// MEDIA QUERIES ////////////////////////////
///////////////////////////////////////////////////////////////////
@media (max-width: 1150px) {
  // Comon containers styles /////////////////////////////////////
  ////////////////////////////////////////////////////////////////
  .container {
    width: calc(100vw - 2rem);
    margin: 0;
    padding: 0 3rem;
    &--main {
      width: calc(100vw - 2rem);
    }
  }

  // Home Page styles ////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  .section {
    &-hero {
      margin-top: 5rem;
    }
    &-albums {
      padding: 0 4rem 3rem;
      &--catcontainer {
        transition: all 0.2s ease-in;
      }
      .--slider-active {
        transform: scale(1.025);
      }
      &--catcontainer-items ul li {
        font-size: 4rem;
        padding: 0 0.5rem;
        &:after {
          display: none;
        }
      }
      &--masonry-wrapper img {
        width: calc(69.3333% / 3);
        margin: 0.5rem;
      }
    }
  }

  // Blog Page styles ////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  .section {
    &-blog {
      &--main {
        padding: 0 3rem;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
//////////////////// New Break point @950px //////////////////////
/////////////////////////////////////////////////////////////////
@media (max-width: 950px) {
  // Blog Page styles ////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  .section {
    .section-blog--main .article-card--link {
      width: 50%;
    }
    &-blog {
      .mobile-card-wrapper {
        display: block;
        margin: 0 4rem 4rem;
        padding: 1rem;
        box-shadow: 2px 2px 15px #00000030;
        background-color: white;
      }
      .mobile-card-wrapper:first-child {
        margin: 0 1rem 2rem;
      }
      .mobile-card-wrapper .aside--search-input {
        @include autosuggest;
      }
      .mobile-card-wrapper h1 {
        margin-bottom: 1rem;
        color: #cdcdcd;
        font-weight: 900;
      }
      .mobile-card-wrapper a {
        text-decoration: none;
      }
      .mobile-card-wrapper .aside--post-box {
        transition: 0.2s all ease-out;
        align-items: normal;
        display: flex;
        height: 100%;
        width: 100%;
        &:hover,
        &:focus {
          background-color: #efefef;
        }
      }
      .mobile-card-wrapper .aside--inside-box {
        padding: 0.2rem 0.5rem 0.5rem;
        color: #868686;
        font-size: 0.85rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        width: 75%;
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////
//////////////////// New Break point @995px ////////////////////////
///////////////////////////////////////////////////////////////////
@media (max-width: 995px) {
  // Home Page styles ////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  .section {
    &-hero {
      margin-top: 2.5rem;
      &--grid {
        grid-gap: 0;
        padding: 0 2.5rem;
      }
    }
    .hero {
      &-grid-one {
        .intro-text {
          font-size: 0.85rem;
        }
        .hero-lastbp {
          &--card {
            width: 300px;
            height: 175px;
            .card-overlay-content {
              p {
                display: none;
              }
              h3 {
                font-size: 1rem;
              }
            }
          }
          &--container h1 {
            font-size: 0.85rem;
          }
        }
        .hero-title-container {
          height: 215px;
          h1 {
            font-size: 6.45rem;
            padding: 0 0.3rem;
          }
        }
      }
      &-grid-two {
        height: 600px;
      }
    }
    &-albums {
      padding: 0 2rem 3rem;
    }
    &-albums--carousel-image button {
      &:first-child {
        left: 3rem;
      }
      &:last-of-type {
        right: 3rem;
      }
    }
    &-albums--catcontainer {
      padding: 0 0 1rem;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        background: transparent;
        width: 0;
      }
    }
    &-albums--catcontainer-items {
      display: block;
      padding: 0;
    }
    &-albums--catcontainer-items ul {
      display: inline-flex;
      padding: 0 1rem;
    }
    &-albums--catcontainer-items ul li {
      display: inline-block;
      padding: 0 0.5rem;
      margin-right: 3rem;
    }
    &-albums--masonry {
      &-wrapper {
        padding: 0 1rem;
        img {
          width: calc(88.3333% / 3);
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////
//////////////////// New Break point @775px ////////////////////////
///////////////////////////////////////////////////////////////////
@media (max-width: 775px) {
  // Nav layout styles ////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////
  .app--nav .navitems {
    display: none;
  }
  .mobile-nav {
    display: block;
  }

  // Home Page styles ////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  .section {
    .hero {
      &-title-container {
        height: 190px !important;
      }
      &-title h1 {
        font-size: 5.5rem !important;
      }
      &-title h1:last-of-type {
        margin-top: -3rem !important;
      }
      &-grid-one p {
        width: 90% !important;
      }
      &-grid-two {
        height: 560px;
      }
      &-lastbp--card {
        width: 95% !important;
        height: 170px !important;
      }
      &-lastbp--card .card-overlay {
        opacity: 0.95 !important;
      }
      &-lastbp--card .card-overlay-content {
        width: 50% !important;
        padding: 0.5rem 0.5rem 0.5rem 0.75rem !important;
      }
      &-lastbp--card .card-overlay-content h1 {
        font-size: 0.85rem;
      }
    }
    .section-albums {
      &--info {
        @include headings(1rem, 400, -0.005em) display: block;
        padding: 0 1.5rem;
        margin: 2.5rem 0 0.5rem;
        color: $primDark;
      }
      &--info img {
        margin-left: 1rem;
        width: 50px;
        opacity: 0.75;
      }
      &--catcontainer {
        margin-top: 0;
      }
      &--catcontainer-items ul li {
        font-weight: 600;
      }
      &--masonry-wrapper img {
        width: 28.66666%;
      }
      &--carousel-image img {
        width: 90%;
      }
      &--carousel-image button {
        width: 50px;
        &:first-child {
          left: 2rem;
        }
        &:last-of-type {
          right: 2rem;
        }
      }
    }
  }

  // Article Page styles ////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////
  .section {
    .article_wrapper {
      padding: 0 2rem;
    }
    .article_wrapper .article_head--bg {
      height: 350px;
    }
    .article_wrapper .article_head--over h3 {
      font-size: 2rem;
    }
    .article_wrapper .article_body {
      margin: 0 2.5rem 1rem;
    }
    .article_wrapper .article_share {
      margin: 0 2.5rem 2rem;
    }
  }
}

//////////////////////////////////////////////////////////////////////
//////////////////// New Break point @665px /////////////////////////
////////////////////////////////////////////////////////////////////
@media (max-width: 665px) {
  // Layout styles ////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////
  body {
    background-color: #f9f9f9;
  }
  .app--nav {
    position: static;
    font-size: 1rem;
    color: $primDark;
    font-weight: 800;
    padding-top: 1rem;
    font-size: 1.1rem;
    letter-spacing: -0.02rem;
    .mobile-nav-btn {
      position: absolute;
      z-index: 100;
      width: 35px;
      top: -14px;
      right: -14px;
    }
    .mobile-nav-btn-lines {
      background-color: $primDark !important;
      border-radius: 0.2em !important;
      height: 4px !important;
    }
    .mobile-nav-btn-lines::after,
    .mobile-nav-btn-lines::before {
      background-color: $primDark !important;
      border-radius: 0.2em !important;
      height: 4px !important;
    }
    .mobile-nav-btn-lines::after {
      width: 35px !important;
      left: 0 !important;
      top: -0.8em !important;
    }
    .mobile-nav-btn-lines::before {
      width: 20px !important;
      left: 15px !important;
      top: 0.8em !important;
    }
    .--open {
      .mobile-nav-btn-lines {
        background-color: initial !important;
      }
      .mobile-nav-btn-lines::before,
      .mobile-nav-btn-lines::after {
        width: 27px !important;
      }
      .mobile-nav-btn-lines::before {
        transform: translateX(1.1em) translateY(-0.75em) rotate(135deg) !important;
      }
      .mobile-nav-btn-lines::after {
        transform: translateX(2.33em) translateY(0.83em) rotate(-135deg) !important;
      }
    }
  }

  .mobile-nav-items li a {
    font-size: 1.35rem !important;
    font-weight: 800 !important;
  }

  .container--footer {
    position: static;
    margin: 0.5rem 1rem;
    padding: 0 2rem;
  }
  .borders {
    display: none;
  }

  // Home Page styles ////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  .section {
    &-hero {
      .hero-grid-one {
        .hero-lastbp--container,
        .intro-text {
          display: none;
        }
        .hero-title-container h1 {
          font-size: 5rem !important;
        }
      }
      .hero-grid-two {
        height: 600px;
        width: 83%;
        margin: -4rem auto 0;
        .hero-image-socials {
          display: none !important;
        }
        .mask {
          background-color: #f9f9f9 !important;
          border: none !important;
        }
      }
      .hero-lastbp--sm {
        display: block;
        margin: 4rem 0 1rem;
      }
      .hero-lastbp--sm h1 {
        display: none;
      }
      .hero-lastbp--card {
        width: 100% !important;
        height: 270px !important;
        background-position: center;
        background-size: cover;
        margin-top: 3.15rem;
        position: relative;
      }
      .hero-lastbp--card .card-overlay-dark {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 2;
        left: 0;
        background-color: #8e8e8e3b;
        transition: all 0.4s ease-out;
        &:hover,
        &:focus {
          background-color: #b1b1b187;
        }
      }
      .hero-lastbp--card .card-overlay {
        height: 100%;
        width: 50%;
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
      }
      .hero-lastbp--card .card-overlay-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem !important;
        width: 50% !important;
        height: 100%;
        position: absolute;
        padding: 1rem 0.85rem 1rem 1.5rem;
        h3 {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        h3:first-child {
          font-size: 1.35rem;
          font-weight: 800;
        }
        h3:last-of-type {
          @include headings(1rem, 800, 0);
        }
        p {
          display: none;
        }
      }
    }
    &-hero--grid {
      opacity: 1;
      display: flex;
      flex-direction: column;
    }
    .section-albums {
      .btn--gray {
        margin: 2rem 1rem 1rem;
        font-size: 1.45rem;
        font-weight: 700;
      }
      .btn--gray img {
        margin-bottom: -0.35rem;
        width: 26px;
      }
      &--masonry-wrapper img {
        width: calc(50% - 2rem);
      }
      &--carousel-image img {
        width: 85%;
      }
      &--carousel-image button:first-child {
        left: 0.5rem;
      }
      &--carousel-image button:last-of-type {
        right: 0.5rem;
      }
    }
    &-about {
      display: block;
    }
  }
  // Blog Page styles ////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  .section {
    &-blog--main {
      padding: 0 2rem;
      margin-bottom: 1rem;
    }
    &-blog--main .article-card--link {
      width: 100% !important;
    }
    &-blog .mobile-card-wrapper {
      margin: 0 3rem 4rem;
    }
    &-blog .pagination {
      margin: 0 0 1rem;
    }
  }
  // Article Page styles ////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////
  .section {
    .article_wrapper .article_head {
      margin: 3rem 0.5rem;
    }
    .article_wrapper .article_head--bg {
      height: 300px;
    }
    .article_wrapper .article_body {
      margin: 0 1.5rem 1rem;
    }
    .article_wrapper .article_share {
      margin: 0 0 2rem;
    }
  }
}

///////////////////////////////////////////////////////////////////
//////////////////// New Break point @550px //////////////////////
/////////////////////////////////////////////////////////////////
@media (max-width: 550px) {
  // Home Page styles ////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  .section {
    &-hero .hero-grid-one .hero-title-container h1 {
      font-size: 4.5rem !important;
    }
    &-hero .hero-lastbp--card {
      height: 250px !important;
      margin-top: 1.15rem !important;
    }
    &-hero .hero-grid-two {
      width: 85%;
      margin: -5rem auto 0;
    }
    &-hero--grid {
      padding: 0 2rem;
    }
    &-albums {
      padding: 0 1rem 3rem;
    }
    &-albums .btn--gray {
      margin: 2rem 1.5rem 1rem;
      font-size: 1.4rem;
    }
    &-about {
      padding: 0 2.5rem !important;
    }
    &-about-socials a {
      font-size: 1.35rem;
      margin: 0 0.75rem;
    }
  }
}

///////////////////////////////////////////////////////////////////
//////////////////// New Break point @425px //////////////////////
/////////////////////////////////////////////////////////////////
@media (max-width: 425px) {
  // Container Layouts styles ////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  .container {
    width: 100vw;
    margin: 0;
    padding: 0 2rem;
    &--main {
      width: 100vw;
    }
    &--footer {
      margin: 0.5rem 1rem;
      padding: 0 0.5rem;
      font-size: 0.85rem;
      color: #8e8e8e;
    }
    &--footer a {
      color: inherit;
    }
  }
  .app--nav {
    padding-top: 1.5rem;
    .mobile-nav-btn {
      top: -15px;
      right: 0px;
    }
  }

  // Home Page styles ////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  .section {
    &-hero {
      margin-top: 1.5rem;
    }
    &-hero--grid {
      padding: 0 1rem;
    }
    .hero-title-container {
      height: 130px !important;
    }
    &-hero .hero-grid-one .hero-title-container h1 {
      font-size: 3.8rem !important;
      &:last-of-type {
        margin-top: -2rem !important;
      }
    }
    &-hero .hero-grid-two {
      margin: -2rem auto 0;
      height: 550px;
    }
    &-hero .hero-lastbp--sm {
      margin: 3.5rem 0 1rem;
      padding: 0 0.5rem;
    }
    &-hero .hero-lastbp--card {
      height: 230px !important;
      margin-top: 0.25rem !important;
      .card-overlay-content h3:last-of-type {
        font-family: "Muli", Arial, sans-serif;
        font-size: 1.15rem;
      }
    }
    &-albums--info {
      font-size: 1rem !important;
      padding: 0 0.5rem !important;
      margin: 1.5rem 0 0.5rem !important;
    }
    &-albums--catcontainer {
      padding: 0 !important;
    }
    &-albums--catcontainer-items ul {
      padding: 0 !important;
    }
    &-albums--masonry-wrapper {
      padding: 0 !important;
    }
    &-albums--masonry-wrapper img {
      width: calc(50% - 1rem) !important;
    }
    &-albums--carousel-image img {
      margin-left: 0 !important;
    }
    &-albums--carousel-image button {
      &:first-child {
        left: 0.15rem;
      }
      &:last-of-type {
        right: 0.15rem;
      }
    }
    &-albums {
      padding: 0 1rem !important;
    }
    &-albums .btn--gray {
      margin: 2rem 0.5rem 1rem !important;
      font-size: 1.15rem !important;
    }
    &-albums .btn--gray img {
      margin-bottom: -0.31rem !important;
      width: 22px !important;
    }
    &-albums--catcontainer-items ul li {
      font-size: 3.15rem;
    }
    &-about {
      padding: 1.5rem 1.5rem 0 !important;
    }
    &-about-socials a {
      font-size: 1.2rem;
    }
  }

  // Blog Page styles ////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  .section {
    &-blog--main {
      padding: 0 0.5rem;
    }
    &-blog .mobile-card-wrapper {
      margin: 0 1.5rem 4rem;
    }
    .article_wrapper .article_head--bg {
      height: 250px;
    }
    .article_wrapper .article_head--over h3 {
      font-size: 1.35rem;
    }
    .article_wrapper .article_body {
      margin: 0 1rem 1rem;
    }
  }

  // Article Page styles ////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////
  .section {
    .article_wrapper {
      padding: 0 0.5rem;
    }
    .article_wrapper .article_share {
      margin: 0 1rem 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-bottom: 1.5rem;
      font-size: 0.9rem;
      span {
        font-size: 0.95rem;
        font-weight: 800;
        margin-right: 0.5rem;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
//////////////////// New Break point @375px //////////////////////
/////////////////////////////////////////////////////////////////
@media (max-width: 375px) {
  // Home Page styles ////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  .section {
    &-hero .hero-grid-one .hero-title-container h1 {
      font-size: 3.5rem !important;
      &:last-of-type {
        margin-top: -1.5rem !important;
      }
    }
    &-hero .hero-grid-two {
      height: 470px;
    }
    &-hero .hero-lastbp--card {
      height: 215px !important;
    }
  }
}

///////////////////////////////////////////////////////////////////
//////////////////// New Break point @320px //////////////////////
/////////////////////////////////////////////////////////////////
@media (max-width: 320px) {
  // Home Page styles ////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  .section {
    &-hero .hero-grid-one .hero-title-container h1 {
      font-size: 2.75rem !important;
    }
    &-hero .hero-grid-two {
      height: 425px;
    }
    .hero-title-container {
      height: 105px !important;
    }
    &-hero .hero-lastbp--card {
      height: 180px !important;
    }
    &-hero .hero-lastbp--card .card-overlay-content {
      padding: 1rem !important;
      h3 {
        font-size: 0.85rem !important;
      }
    }
  }
}

// Keyfram ///////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
